
.flex-box {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.card {
    margin: 1rem;
}

.padding-remove {
    padding: 0px;
}

.font-family {
    font-family: sans-serif;
}
