.page-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
    font-family: Lato, sans-serif;
}

.all-images-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 12px;
}

.single-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.multi-image-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.single-image {
    width: 98%;
    height: 98%;
    border-radius: 12px;
}

.multi-image {
    width: 49%;
    height: 49%;
    border-radius: 12px;
}

.edit-delete-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.edit-nav {
    text-decoration: none;
    color: white;
}

.edit-delete-btn {
    width: 135px;
    height: 48px;
    color: white;
    background-color: rgb(51, 51, 51);
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-delete-btn:hover,
.edit-delete-btn:focus {
    background-color: black;
}

.hosted-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.hosted-header{
    width: 40%;
}

.bookings-container{
    width: 60%;

}


.all-reviews-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all-reviews-header {
    padding-right: 10px;
}



.card {
    margin: 1rem;
}

svg {
    height: 15px;
    width: 15px;
    margin-right: 6px;
}

.img-sizing {
    height: 100%;
    width: 100%;
}

.height-400{
    height: 400px
}

.height-392{
    height: 392px
}

.width-400{
    width: 400px
}

.height-48 {
    height: 48%
}

.height-80 {
    height: 80px;
}

.width-48 {
    width: 49%
}

.image-row-gap {
    row-gap: 7px;
}

.image-column-gap {
    column-gap: 8px;
}

.image-border {
    border-radius: 12px;
}

.large-image-pad {
    padding-top: 3px;
    padding-right: 0px;
}
