.font-family {
    font-family: sans-serif;
}

.font-black {
    color:black;
}

.font-grey {
    color:grey;
}

.bold {
    font-weight: bold;
}

.flex-box {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.flex-start {
    align-items: flex-start;
}

.padding-remove {
    padding: 0px;
}

.margin-remove {
    margin: 0px;
}

.column-gap {
    column-gap: 0.8rem;
}

.img-size{
    height: 250px;
    width:250px;
    border-radius: 12px;
}

a {
    text-decoration: none;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

#root {
    max-width: 950px;
    margin: auto;
}
