.font-family {
    font-family: sans-serif;
}

.font-black {
    color:black;
}

.font-grey {
    color:grey;
}

.bold {
    font-weight: bold;
}

.flex-box {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.flex-start {
    align-items: flex-start;
}

.padding-remove {
    padding: 0px;
}

.margin-remove {
    margin: 0px;
}

.column-gap {
    column-gap: 0.8rem;
}

a {
    text-decoration: none;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

#root {
    margin: 0;
    padding: 0 80px;
}


.padding-card {
    padding: 8px 10px;
}

.width-card {
    width: 280px;
}

.height-card {
    height: 350px;
}

.width-card-image {
    width: 100%;
}

.height-card-image {
    height: 100%
}

.height-card-image-container {
    height: 75%;
}
.width-card-image-container {
    width: 100%;
}

.border-radius-12 {
    border-radius: 12px;
}

.height {
    height: 250px;
    width: 300px;
}

.block {
    display: block;
}

.overflow-hidden {
    overflow: hidden;
}

.flex-shrink-0 {
    flex-shrink: 0;
}
