.errors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errors-title {
    align-self: center;
}



.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}


.price-stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.price-div {
    display: flex;
    flex-direction: row;
}

.price-number {
    font-weight: bold;
}

.check-dates-container {
    display: flex;
    border: 1px solid grey;
    border-radius: 12px;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-input-checkin {
    font-family: Lato, sans-serif;
    border: 0;
    outline: 0;
    width: 55%;
}

.date-input-checkout {
    font-family: Lato, sans-serif;
    border: 0;
    outline: 0;
    width: 55%
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.total {
    width: 80%;
}

.spot-booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spot-title {
    font-weight: bold;
}

.react-calendar__tile--now {
    background-color: grey;
}

.react-calendar__tile--now.react-calendar__tile--now::hover {
    background-color: darkgray;
}

.pink {
    background-color: pink;
    padding: 4px;
    border-radius: 6px;
}
