.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-bookings-page{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.user-booking-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.booking-title {
    font-weight: bold;
    align-self: center;
}

.user-booking-text {
    display: flex;
    flex-direction: column;
}

