#container {
    display: grid;
    grid-template-columns: 300px 1fr 300px
}

#sessionLinks {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 0.8rem;
}

.flex-box {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

#search-bar {
    border: 2px #CCCCCC solid;
    padding: 5px 50px;
    border-radius: 999px;
}

.padding-remove {
    padding: 0px;
}

.font-family {
    font-family: sans-serif;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.home {
    column-gap: 0.8rem;
    display: flex;
}
